* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}
body {
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  padding-bottom: 60px;
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "aside"
    "article";
  gap: 30px;
}

/* navbar  */

.nav {
  margin-top: 2rem;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas: "logo icon";
  justify-content: space-between;
  align-items: center;
  grid-area: nav;
}

.nav_brand {
  grid-area: logo;
}

.nav__icon {
  width: 100%;
}

.nav__menu {
  opacity: 0;
  transition: opacity 0.3;
  position: absolute;
  background-color: white;
  display: grid;
  place-content: center;
  inset: 0;
  list-style: none;
  padding: 0;
  gap: 1rem;
  pointer-events: none;
}

.nav__item {
  text-align: center;
}

.nav__link {
  text-decoration: none;
  color: var(--very-dark-blue);
}

.nav__hamburger {
  grid-area: icon;
  z-index: 10;
}

.nav__hamburger--close {
  display: none;
}

/* if inside .nav there is a checkbox checked, i´d want .nav__menu to do the following */
.nav:has(:checked) .nav__menu {
  opacity: 1;
  pointer-events: unset;
}

.nav:has(:checked) .nav__hamburger--close {
  display: block;
}

.nav:has(:checked) .nav__hamburger {
  display: none;
}

.nav__check {
  display: none;
}
/* main  */

.main {
  padding: 28px 0;
  grid-area: main;
}

.main__bg {
  width: 100%;
  height: 300px;
  background-image: url("./assets/images/image-web-3-mobile.jpg");
  background-size: cover;
  background-position: center;
}

.main__texts {
  margin-top: 20px;
}

.main__paragraph {
  line-height: 1.5;
  color: var(--dark-grayish-blue);
  margin: 1rem 0;
}
.main__title {
  font-size: 2.5rem;
  color: var(--very-dark-blue);
}

.main__cta {
  padding: 0.9rem 2.5rem;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  background-color: var(--soft-red);
  color: white;
  text-transform: uppercase;
}

/* sidebar  */

.sidebar {
  padding: 1.5rem;
  grid-area: aside;
  background-color: var(--very-dark-blue);
  color: white;
}

.sidebar__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--soft-orange);
}

.sidebar__article {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--dark-grayish-blue);
  padding-bottom: 1rem;
}

.sidebar__article:last-of-type {
  margin: 0;
  border: none;
}

.sidebar__link {
  margin-bottom: 0.8rem;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}

.sidebar__content {
  line-height: 1.5;
  color: var(--grayish-blue);
}

/* articles  */

.articles {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  grid-area: article;
}

.articles__article {
  display: flex;
}

.articles__figure {
  width: 40%;
  max-width: 140px;
  margin-right: 20px;
  aspect-ratio: 3/4;
  resize: horizontal;
  overflow: hidden;
}

.articles__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articles__texts {
  padding: 10px;
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
}

.articles__number {
  font-size: 2rem;
  font-weight: 800;
  color: var(--grayish-blue);
}

.articles__link {
  display: inline-block;
  text-decoration: none;
  color: var(--very-dark-blue);
  font-size: 1.5rem;
  font-weight: 700;
}

.articles__content {
  line-height: 1.5;
  color: var(--dark-grayish-blue);
}

@media (min-width: 764px) {
  .container {
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
      "nav nav nav nav nav"
      "main main main aside aside"
      "article article article article article";
    gap: 2rem 2rem;
    padding-top: 2rem;
  
  }

  .main {
    display: grid;
    align-content: space-between;
    padding: 0;
  }

  .main__texts {
    display: grid;
    gap: 2rem;
    align-items: flex-end;
    grid-template-areas:
      "title text"
      "title cta";
 
  }

  .main__title {
    grid-area: title;
    font-size: 3.5rem;
    display: grid;
/* align-items: space-between; */
  }

  .main__paragraph {
    grid-area: text;
    align-self: start;
  }

  .main__cta {
    margin: 0;
    grid-area: cta;
    align-self: flex-end;
    text-align: center;

  }

  .main {
    display: grid;
    grid-template-rows: max-content 1fr;
  }

  .main__bg {
    background-image: url("./assets/images/image-web-3-desktop.jpg");
  }

  /* nav  */

  .nav::before {
    content: unset;
  }

  .nav:has(.nav__links:target)::before {
    pointer-events: unset;
    opacity: 1;
  }

  .nav__hamburger,
  .nav__hamburger--close {
    display: none;
  }

  .nav__menu {
    position: unset;
    width: unset;
    max-width: unset;
    gap: 30px;
    grid-auto-flow: column;
    padding: 0;
    opacity: 1;
    overflow-y: unset;
    pointer-events: unset;
    transition: none;
  }

}
